<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr;

        }
    </style>
    <form method="GET" action="{% url 'room' %}">
        <input type="text" name="q" placeholder="search room">
    </form>
    <H3>there is {{room_count}} room</H3>
    <div class="home-container">

        <div>
            <h3>Brows TOpic</h3>            
            <hr>
            <div>
                <a href="{% url 'room' %}">All</a>
            </div>
            {% for topic in topics %}
                <div>
                    <a href="{% url 'room'%}?q={{topic.name}}">{{topic.name}}</a>
                </div>
            {% endfor %}
        </div>
    
    <div>
        <a href="{% url 'create-room' %}">form</a>
        
        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">edit</a>
            <a href="{% url 'delete-room' room.id %}">delete</a>
            <span>@{{room.host.username}}</span>
            {{room.name}}</a></p>
            <small>{{room.topic.name}}</small>
        </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>