<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <a href="{% url 'create-room' %}">form</a>
        
        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">edit</a>
            <a href="">delete</a>
            <span>@{{room.host.username}}</span>
            <p>nous somme; {{room.id}}  <a href="{% url 'com' room.id %}"> {{room.name}}</a></p>
            <small>{{room.topic.name}}</small>
        </div>
        {% endfor %}
    </div>
</body>
</html>